#body{
    margin: 0;
    padding: 0;
}
#kontener{
    width: 100vw * 0.5;
    height: calc(100vw * 0.5 * 1.414);
    max-width: 794px;
    max-height: 1123px;
    border: 1px solid black;
    padding: 10px;
    margin: 0;
}
#lewa_sekcja{

width: 27%;
float: left;
background-color: aqua;
}
#prawa_sekcja{

width: 70%;
float: right;
background-color: white
}
